In [41]:
import matplotlib.pyplot as plt
from matplotlib import style
style.use("ggplot")
import numpy as np
from sklearn.cluster import MeanShift
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import pandas as pd

- Pclass Passenger Class(1 = 1st; 2 = 2nd, 3 = 3rd
- survival Survival (0 = No; 1 = Yes)
- name Name
- sex Sex
- age Age
- sibsp Number of Siblings/Spouse Aboard
- parch Number of Parents/Children Aboard
- ticket Ticket Number
- fare Passenger Fare (British pound)
- cabin Cabin
- embarked Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
- boat Lifeboat
- body Body Identification Number
- home.dest Home/Destination

In [42]:
df = pd.read_excel(r'D:\Ugo\Practice ML\ML Datasets\Titanic Dataset\titanic3.xls')
original_df = pd.DataFrame.copy(df)
 
df.drop(['body', 'name'], 1, inplace=True)
df.convert_objects(convert_numeric=True)
df.head()
df.fillna(0, inplace=True)

def handle_non_numerical_data(df):
    
    # handling non_numerical data: must convert.
    columns = df.columns.values
    
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]
        
        # print(column, df[column].dtype)
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            
            column_contents = df[column].values.tolist()
            # finding just the uniques
            unique_elements = set(column_contents)
            # great, found them.
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    # creating dict that contains new
                    # id per unique string
                    text_digit_vals[unique] = x
                    x += 1
            
            # now we map the new "id" value
            # to replace the string.
            df[column] = list(map(convert_to_int, df[column]))
            
    return df

df = handle_non_numerical_data(df)
df.head()

# add/remove features just to see what impact they have
df.drop(['ticket', 'home.dest'], 1, inplace=True)

X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

clf = MeanShift()
clf.fit(X)

C:\Users\DAMILOLA\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """

MeanShift(bandwidth=None, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=1, seeds=None)

In [43]:
labels = clf.labels_
cluster_centers = clf.cluster_centers_

original_df['cluster_group'] = np.nan

for i in range(len(X)):
    original_df['cluster_group'].iloc[i] = labels[i]
n_clusters_ = len(np.unique(labels))
    
    
survival_rates = {}
for i in range(n_clusters_):
    temp_df = original_df[ (original_df['cluster_group'] == float(i)) ]
    survival_cluster = temp_df[ (temp_df['survived'] == 1) ]
    survival_rate = len(survival_cluster)/ len(temp_df)
    survival_rates[i] = survival_rate
    
print(survival_rates)

C:\Users\DAMILOLA\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

{0: 0.37209302325581395, 1: 1.0, 2: 0.6458333333333334, 3: 0.1}

In [44]:
print(original_df[ (original_df['cluster_group']==0) ])

      pclass  survived                                              name  \
0          1         1                     Allen, Miss. Elisabeth Walton
5          1         1                               Anderson, Mr. Harry
6          1         1                 Andrews, Miss. Kornelia Theodosia
7          1         0                            Andrews, Mr. Thomas Jr
8          1         1     Appleton, Mrs. Edward Dale (Charlotte Lamson)
9          1         0                           Artagaveytia, Mr. Ramon
12         1         1                     Aubart, Mme. Leontine Pauline
13         1         1                      Barber, Miss. Ellen "Nellie"
14         1         1              Barkworth, Mr. Algernon Henry Wilson
15         1         0                               Baumann, Mr. John D
18         1         1                             Bazzani, Miss. Albina
19         1         0                              Beattie, Mr. Thomson
20         1         1                     Beckwith, Mr. Richard Leonard
21         1         1  Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
22         1         1                             Behr, Mr. Karl Howell
25         1         0                               Birnbaum, Mr. Jakob
26         1         1                           Bishop, Mr. Dickinson H
27         1         1           Bishop, Mrs. Dickinson H (Helen Walton)
28         1         1                            Bissette, Miss. Amelia
29         1         1         Bjornstrom-Steffansson, Mr. Mauritz Hakan
30         1         0                      Blackwell, Mr. Stephen Weart
31         1         1                                  Blank, Mr. Henry
33         1         1                          Bonnell, Miss. Elizabeth
34         1         0                          Borebank, Mr. John James
36         1         1                       Bowerman, Miss. Elsie Edith
37         1         1     Bradley, Mr. George ("George Arthur Brayton")
38         1         0                           Brady, Mr. John Bertram
39         1         0                                Brandeis, Mr. Emil
40         1         0                         Brewe, Dr. Arthur Jackson
41         1         1         Brown, Mrs. James Joseph (Margaret Tobin)
...      ...       ...                                               ...
1279       3         0              Vestrom, Miss. Hulda Amanda Adolfina
1280       3         0                                   Vovk, Mr. Janko
1281       3         0                              Waelens, Mr. Achille
1282       3         0                               Ware, Mr. Frederick
1283       3         0                       Warren, Mr. Charles William
1284       3         0                                 Webber, Mr. James
1285       3         0                               Wenzel, Mr. Linhart
1286       3         1   Whabee, Mrs. George Joseph (Shawneene Abi-Saab)
1287       3         0                  Widegren, Mr. Carl/Charles Peter
1288       3         0                         Wiklund, Mr. Jakob Alfred
1289       3         0                           Wiklund, Mr. Karl Johan
1290       3         1                  Wilkes, Mrs. James (Ellen Needs)
1291       3         0                  Willer, Mr. Aaron ("Abi Weller")
1292       3         0                                Willey, Mr. Edward
1293       3         0                 Williams, Mr. Howard Hugh "Harry"
1294       3         0                              Williams, Mr. Leslie
1295       3         0                               Windelov, Mr. Einar
1296       3         0                                  Wirz, Mr. Albert
1297       3         0                            Wiseman, Mr. Phillippe
1298       3         0                         Wittevrongel, Mr. Camille
1299       3         0                               Yasbeck, Mr. Antoni
1300       3         1           Yasbeck, Mrs. Antoni (Selini Alexander)
1301       3         0                              Youseff, Mr. Gerious
1302       3         0                                 Yousif, Mr. Wazli
1303       3         0                             Yousseff, Mr. Gerious
1304       3         0                              Zabour, Miss. Hileni
1305       3         0                             Zabour, Miss. Thamine
1306       3         0                         Zakarian, Mr. Mapriededer
1307       3         0                               Zakarian, Mr. Ortin
1308       3         0                                Zimmerman, Mr. Leo

         sex   age  sibsp  parch            ticket      fare cabin embarked  \
0     female  29.0      0      0             24160  211.3375    B5        S
5       male  48.0      0      0             19952   26.5500   E12        S
6     female  63.0      1      0             13502   77.9583    D7        S
7       male  39.0      0      0            112050    0.0000   A36        S
8     female  53.0      2      0             11769   51.4792  C101        S
9       male  71.0      0      0          PC 17609   49.5042   NaN        C
12    female  24.0      0      0          PC 17477   69.3000   B35        C
13    female  26.0      0      0             19877   78.8500   NaN        S
14      male  80.0      0      0             27042   30.0000   A23        S
15      male   NaN      0      0          PC 17318   25.9250   NaN        S
18    female  32.0      0      0             11813   76.2917   D15        C
19      male  36.0      0      0             13050   75.2417    C6        C
20      male  37.0      1      1             11751   52.5542   D35        S
21    female  47.0      1      1             11751   52.5542   D35        S
22      male  26.0      0      0            111369   30.0000  C148        C
25      male  25.0      0      0             13905   26.0000   NaN        C
26      male  25.0      1      0             11967   91.0792   B49        C
27    female  19.0      1      0             11967   91.0792   B49        C
28    female  35.0      0      0          PC 17760  135.6333   C99        S
29      male  28.0      0      0            110564   26.5500   C52        S
30      male  45.0      0      0            113784   35.5000     T        S
31      male  40.0      0      0            112277   31.0000   A31        C
33    female  58.0      0      0            113783   26.5500  C103        S
34      male  42.0      0      0            110489   26.5500   D22        S
36    female  22.0      0      1            113505   55.0000   E33        S
37      male   NaN      0      0            111427   26.5500   NaN        S
38      male  41.0      0      0            113054   30.5000   A21        S
39      male  48.0      0      0          PC 17591   50.4958   B10        C
40      male   NaN      0      0            112379   39.6000   NaN        C
41    female  44.0      0      0          PC 17610   27.7208    B4        C
...      ...   ...    ...    ...               ...       ...   ...      ...
1279  female  14.0      0      0            350406    7.8542   NaN        S
1280    male  22.0      0      0            349252    7.8958   NaN        S
1281    male  22.0      0      0            345767    9.0000   NaN        S
1282    male   NaN      0      0            359309    8.0500   NaN        S
1283    male   NaN      0      0        C.A. 49867    7.5500   NaN        S
1284    male   NaN      0      0  SOTON/OQ 3101316    8.0500   NaN        S
1285    male  32.5      0      0            345775    9.5000   NaN        S
1286  female  38.0      0      0              2688    7.2292   NaN        C
1287    male  51.0      0      0            347064    7.7500   NaN        S
1288    male  18.0      1      0           3101267    6.4958   NaN        S
1289    male  21.0      1      0           3101266    6.4958   NaN        S
1290  female  47.0      1      0            363272    7.0000   NaN        S
1291    male   NaN      0      0              3410    8.7125   NaN        S
1292    male   NaN      0      0     S.O./P.P. 751    7.5500   NaN        S
1293    male   NaN      0      0          A/5 2466    8.0500   NaN        S
1294    male  28.5      0      0             54636   16.1000   NaN        S
1295    male  21.0      0      0  SOTON/OQ 3101317    7.2500   NaN        S
1296    male  27.0      0      0            315154    8.6625   NaN        S
1297    male   NaN      0      0        A/4. 34244    7.2500   NaN        S
1298    male  36.0      0      0            345771    9.5000   NaN        S
1299    male  27.0      1      0              2659   14.4542   NaN        C
1300  female  15.0      1      0              2659   14.4542   NaN        C
1301    male  45.5      0      0              2628    7.2250   NaN        C
1302    male   NaN      0      0              2647    7.2250   NaN        C
1303    male   NaN      0      0              2627   14.4583   NaN        C
1304  female  14.5      1      0              2665   14.4542   NaN        C
1305  female   NaN      1      0              2665   14.4542   NaN        C
1306    male  26.5      0      0              2656    7.2250   NaN        C
1307    male  27.0      0      0              2670    7.2250   NaN        C
1308    male  29.0      0      0            315082    7.8750   NaN        S

     boat   body                           home.dest  cluster_group
0       2    NaN                        St Louis, MO            0.0
5       3    NaN                        New York, NY            0.0
6      10    NaN                          Hudson, NY            0.0
7     NaN    NaN                         Belfast, NI            0.0
8       D    NaN                 Bayside, Queens, NY            0.0
9     NaN   22.0                 Montevideo, Uruguay            0.0
12      9    NaN                       Paris, France            0.0
13      6    NaN                                 NaN            0.0
14      B    NaN                       Hessle, Yorks            0.0
15    NaN    NaN                        New York, NY            0.0
18      8    NaN                                 NaN            0.0
19      A    NaN                        Winnipeg, MN            0.0
20      5    NaN                        New York, NY            0.0
21      5    NaN                        New York, NY            0.0
22      5    NaN                        New York, NY            0.0
25    NaN  148.0                   San Francisco, CA            0.0
26      7    NaN                        Dowagiac, MI            0.0
27      7    NaN                        Dowagiac, MI            0.0
28      8    NaN                                 NaN            0.0
29      D    NaN  Stockholm, Sweden / Washington, DC            0.0
30    NaN    NaN                         Trenton, NJ            0.0
31      7    NaN                      Glen Ridge, NJ            0.0
33      8    NaN   Birkdale, England Cleveland, Ohio            0.0
34    NaN    NaN               London / Winnipeg, MB            0.0
36      6    NaN    St Leonards-on-Sea, England Ohio            0.0
37      9    NaN                     Los Angeles, CA            0.0
38    NaN    NaN                         Pomeroy, WA            0.0
39    NaN  208.0                           Omaha, NE            0.0
40    NaN    NaN                    Philadelphia, PA            0.0
41      6    NaN                          Denver, CO            0.0
...   ...    ...                                 ...            ...
1279  NaN    NaN                                 NaN            0.0
1280  NaN    NaN                                 NaN            0.0
1281  NaN    NaN      Antwerp, Belgium / Stanton, OH            0.0
1282  NaN    NaN                                 NaN            0.0
1283  NaN    NaN                                 NaN            0.0
1284  NaN    NaN                                 NaN            0.0
1285  NaN  298.0                                 NaN            0.0
1286    C    NaN                                 NaN            0.0
1287  NaN    NaN                                 NaN            0.0
1288  NaN  314.0                                 NaN            0.0
1289  NaN    NaN                                 NaN            0.0
1290  NaN    NaN                                 NaN            0.0
1291  NaN    NaN                                 NaN            0.0
1292  NaN    NaN                                 NaN            0.0
1293  NaN    NaN                                 NaN            0.0
1294  NaN   14.0                                 NaN            0.0
1295  NaN    NaN                                 NaN            0.0
1296  NaN  131.0                                 NaN            0.0
1297  NaN    NaN                                 NaN            0.0
1298  NaN    NaN                                 NaN            0.0
1299    C    NaN                                 NaN            0.0
1300  NaN    NaN                                 NaN            0.0
1301  NaN  312.0                                 NaN            0.0
1302  NaN    NaN                                 NaN            0.0
1303  NaN    NaN                                 NaN            0.0
1304  NaN  328.0                                 NaN            0.0
1305  NaN    NaN                                 NaN            0.0
1306  NaN  304.0                                 NaN            0.0
1307  NaN    NaN                                 NaN            0.0
1308  NaN    NaN                                 NaN            0.0

[1247 rows x 15 columns]

In [45]:
print(original_df[ (original_df['cluster_group']==0) ].describe())

            pclass     survived         age       sibsp        parch  \
count  1247.000000  1247.000000  987.000000  1247.00000  1247.000000
mean      2.343224     0.372093   29.456180     0.48757     0.304731
std       0.812769     0.483557   14.234827     1.04994     0.657224
min       1.000000     0.000000    0.166700     0.00000     0.000000
25%       2.000000     0.000000   21.000000     0.00000     0.000000
50%       3.000000     0.000000   28.000000     0.00000     0.000000
75%       3.000000     1.000000   38.000000     1.00000     0.000000
max       3.000000     1.000000   80.000000     8.00000     4.000000

              fare        body  cluster_group
count  1246.000000  113.000000         1247.0
mean     25.238028  162.123894            0.0
std      28.152057   98.916644            0.0
min       0.000000    1.000000            0.0
25%       7.895800   70.000000            0.0
50%      13.458350  166.000000            0.0
75%      27.862500  258.000000            0.0
max     227.525000  328.000000            0.0

In [46]:
print(original_df[ (original_df['cluster_group']==1) ])

     pclass  survived                                               name  \
49        1         1                 Cardeza, Mr. Thomas Drake Martinez
50        1         1  Cardeza, Mrs. James Warburton Martinez (Charlo...
183       1         1                             Lesurer, Mr. Gustave J
302       1         1                                   Ward, Miss. Anna

        sex   age  sibsp  parch    ticket      fare        cabin embarked  \
49     male  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
50   female  58.0      0      1  PC 17755  512.3292  B51 B53 B55        C
183    male  35.0      0      0  PC 17755  512.3292         B101        C
302  female  35.0      0      0  PC 17755  512.3292          NaN        C

    boat  body                                       home.dest  cluster_group
49     3   NaN  Austria-Hungary / Germantown, Philadelphia, PA            1.0
50     3   NaN                    Germantown, Philadelphia, PA            1.0
183    3   NaN                                             NaN            1.0
302    3   NaN                                             NaN            1.0

In [47]:
print(original_df[ (original_df['cluster_group']==1) ].describe())

       pclass  survived        age  sibsp    parch      fare  body  \
count     4.0       4.0   4.000000    4.0  4.00000    4.0000   0.0
mean      1.0       1.0  41.000000    0.0  0.50000  512.3292   NaN
std       0.0       0.0  11.343133    0.0  0.57735    0.0000   NaN
min       1.0       1.0  35.000000    0.0  0.00000  512.3292   NaN
25%       1.0       1.0  35.000000    0.0  0.00000  512.3292   NaN
50%       1.0       1.0  35.500000    0.0  0.50000  512.3292   NaN
75%       1.0       1.0  41.500000    0.0  1.00000  512.3292   NaN
max       1.0       1.0  58.000000    0.0  1.00000  512.3292   NaN

       cluster_group
count            4.0
mean             1.0
std              0.0
min              1.0
25%              1.0
50%              1.0
75%              1.0
max              1.0

In [48]:
print(original_df[ (original_df['cluster_group']==2) ])

     pclass  survived                                               name  \
1         1         1                     Allison, Master. Hudson Trevor
2         1         0                       Allison, Miss. Helen Loraine
3         1         0               Allison, Mr. Hudson Joshua Creighton
4         1         0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
10        1         0                             Astor, Col. John Jacob
11        1         1  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
16        1         0                           Baxter, Mr. Quigg Edmond
17        1         1    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
23        1         1                              Bidois, Miss. Rosalie
24        1         1                                  Bird, Miss. Ellen
32        1         1                            Bonnell, Miss. Caroline
35        1         1                           Bowen, Miss. Grace Scott
66        1         1                        Chaudanson, Miss. Victorine
76        1         1                        Compton, Miss. Sara Rebecca
78        1         1  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...
82        1         1                            Crosby, Miss. Harriet R
97        1         1  Douglas, Mrs. Frederick Charles (Mary Helene B...
103       1         1                      Endres, Miss. Caroline Louise
106       1         0                                 Farthing, Mr. John
111       1         1                     Fortune, Miss. Alice Elizabeth
112       1         1                         Fortune, Miss. Ethel Flora
113       1         1                         Fortune, Miss. Mabel Helen
114       1         0                     Fortune, Mr. Charles Alexander
115       1         0                                  Fortune, Mr. Mark
116       1         1                Fortune, Mrs. Mark (Mary McDougald)
122       1         1                 Frolicher, Miss. Hedwig Margaritha
129       1         1                               Geiger, Miss. Amalie
138       1         0                          Graham, Mr. George Edward
139       1         1      Graham, Mrs. William Thompson (Edith Junkins)
173       1         0                                 Keeping, Mr. Edwin
193       1         1                  Madill, Miss. Georgette Alexandra
215       1         0                         Newell, Mr. Arthur Webster
238       1         1  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...
249       1         1                        Ryerson, Master. John Borie
250       1         1                         Ryerson, Miss. Emily Borie
251       1         1              Ryerson, Miss. Susan Parker "Suzette"
252       1         0                         Ryerson, Mr. Arthur Larned
253       1         1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
273       1         1                    Spedden, Master. Robert Douglas
274       1         1                       Spedden, Mr. Frederic Oakley
275       1         1  Spedden, Mrs. Frederic Oakley (Margaretta Corn...
276       1         0                      Spencer, Mr. William Augustus
285       1         0                                 Straus, Mr. Isidor
286       1         0             Straus, Mrs. Isidor (Rosalie Ida Blun)
309       1         1                           Wick, Miss. Mary Natalie
312       1         0                         Widener, Mr. George Dunton
313       1         0                          Widener, Mr. Harry Elkins
314       1         1       Widener, Mrs. George Dunton (Eleanor Elkins)

        sex      age  sibsp  parch     ticket      fare            cabin  \
1      male   0.9167      1      2     113781  151.5500          C22 C26
2    female   2.0000      1      2     113781  151.5500          C22 C26
3      male  30.0000      1      2     113781  151.5500          C22 C26
4    female  25.0000      1      2     113781  151.5500          C22 C26
10     male  47.0000      1      0   PC 17757  227.5250          C62 C64
11   female  18.0000      1      0   PC 17757  227.5250          C62 C64
16     male  24.0000      0      1   PC 17558  247.5208          B58 B60
17   female  50.0000      0      1   PC 17558  247.5208          B58 B60
23   female  42.0000      0      0   PC 17757  227.5250              NaN
24   female  29.0000      0      0   PC 17483  221.7792              C97
32   female  30.0000      0      0      36928  164.8667               C7
35   female  45.0000      0      0   PC 17608  262.3750              NaN
66   female  36.0000      0      0   PC 17608  262.3750              B61
76   female  39.0000      1      1   PC 17756   83.1583              E49
78   female  64.0000      0      2   PC 17756   83.1583              E45
82   female  36.0000      0      2  WE/P 5735   71.0000              B22
97   female  27.0000      1      1   PC 17558  247.5208          B58 B60
103  female  38.0000      0      0   PC 17757  227.5250              C45
106    male      NaN      0      0   PC 17483  221.7792              C95
111  female  24.0000      3      2      19950  263.0000      C23 C25 C27
112  female  28.0000      3      2      19950  263.0000      C23 C25 C27
113  female  23.0000      3      2      19950  263.0000      C23 C25 C27
114    male  19.0000      3      2      19950  263.0000      C23 C25 C27
115    male  64.0000      1      4      19950  263.0000      C23 C25 C27
116  female  60.0000      1      4      19950  263.0000      C23 C25 C27
122  female  22.0000      0      2      13568   49.5000              B39
129  female  35.0000      0      0     113503  211.5000             C130
138    male  38.0000      0      1   PC 17582  153.4625              C91
139  female  58.0000      0      1   PC 17582  153.4625             C125
173    male  32.5000      0      0     113503  211.5000             C132
193  female  15.0000      0      1      24160  211.3375               B5
215    male  58.0000      0      2      35273  113.2750              D48
238  female  43.0000      0      1      24160  211.3375               B3
249    male  13.0000      2      2   PC 17608  262.3750  B57 B59 B63 B66
250  female  18.0000      2      2   PC 17608  262.3750  B57 B59 B63 B66
251  female  21.0000      2      2   PC 17608  262.3750  B57 B59 B63 B66
252    male  61.0000      1      3   PC 17608  262.3750  B57 B59 B63 B66
253  female  48.0000      1      3   PC 17608  262.3750  B57 B59 B63 B66
273    male   6.0000      0      2      16966  134.5000              E34
274    male  45.0000      1      1      16966  134.5000              E34
275  female  40.0000      1      1      16966  134.5000              E34
276    male  57.0000      1      0   PC 17569  146.5208              B78
285    male  67.0000      1      0   PC 17483  221.7792          C55 C57
286  female  63.0000      1      0   PC 17483  221.7792          C55 C57
309  female  31.0000      0      2      36928  164.8667               C7
312    male  50.0000      1      1     113503  211.5000              C80
313    male  27.0000      0      2     113503  211.5000              C82
314  female  50.0000      1      1     113503  211.5000              C80

    embarked boat   body                        home.dest  cluster_group
1          S   11    NaN  Montreal, PQ / Chesterville, ON            2.0
2          S  NaN    NaN  Montreal, PQ / Chesterville, ON            2.0
3          S  NaN  135.0  Montreal, PQ / Chesterville, ON            2.0
4          S  NaN    NaN  Montreal, PQ / Chesterville, ON            2.0
10         C  NaN  124.0                     New York, NY            2.0
11         C    4    NaN                     New York, NY            2.0
16         C  NaN    NaN                     Montreal, PQ            2.0
17         C    6    NaN                     Montreal, PQ            2.0
23         C    4    NaN                              NaN            2.0
24         S    8    NaN                              NaN            2.0
32         S    8    NaN                   Youngstown, OH            2.0
35         C    4    NaN                  Cooperstown, NY            2.0
66         C    4    NaN                              NaN            2.0
76         C   14    NaN                     Lakewood, NJ            2.0
78         C   14    NaN                     Lakewood, NJ            2.0
82         S    7    NaN                    Milwaukee, WI            2.0
97         C    6    NaN                     Montreal, PQ            2.0
103        C    4    NaN                     New York, NY            2.0
106        S  NaN    NaN                              NaN            2.0
111        S   10    NaN                     Winnipeg, MB            2.0
112        S   10    NaN                     Winnipeg, MB            2.0
113        S   10    NaN                     Winnipeg, MB            2.0
114        S  NaN    NaN                     Winnipeg, MB            2.0
115        S  NaN    NaN                     Winnipeg, MB            2.0
116        S   10    NaN                     Winnipeg, MB            2.0
122        C    5    NaN              Zurich, Switzerland            2.0
129        C    4    NaN                              NaN            2.0
138        S  NaN  147.0                     Winnipeg, MB            2.0
139        S    3    NaN                    Greenwich, CT            2.0
173        C  NaN   45.0                              NaN            2.0
193        S    2    NaN                     St Louis, MO            2.0
215        C  NaN  122.0                    Lexington, MA            2.0
238        S    2    NaN                     St Louis, MO            2.0
249        C    4    NaN  Haverford, PA / Cooperstown, NY            2.0
250        C    4    NaN  Haverford, PA / Cooperstown, NY            2.0
251        C    4    NaN  Haverford, PA / Cooperstown, NY            2.0
252        C  NaN    NaN  Haverford, PA / Cooperstown, NY            2.0
253        C    4    NaN  Haverford, PA / Cooperstown, NY            2.0
273        C    3    NaN                  Tuxedo Park, NY            2.0
274        C    3    NaN                  Tuxedo Park, NY            2.0
275        C    3    NaN                  Tuxedo Park, NY            2.0
276        C  NaN    NaN                    Paris, France            2.0
285        S  NaN   96.0                     New York, NY            2.0
286        S  NaN    NaN                     New York, NY            2.0
309        S    8    NaN                   Youngstown, OH            2.0
312        C  NaN    NaN                  Elkins Park, PA            2.0
313        C  NaN    NaN                  Elkins Park, PA            2.0
314        C    4    NaN                  Elkins Park, PA            2.0

In [49]:
print(original_df[ (original_df['cluster_group']==2) ].describe())

       pclass   survived        age      sibsp      parch        fare  \
count    48.0  48.000000  47.000000  48.000000  48.000000   48.000000
mean      1.0   0.645833  36.157802   0.770833   1.291667  200.573958
std       0.0   0.483321  17.180574   0.904824   1.071057   60.086908
min       1.0   0.000000   0.916700   0.000000   0.000000   49.500000
25%       1.0   0.000000  24.000000   0.000000   0.000000  151.550000
50%       1.0   1.000000  36.000000   1.000000   1.000000  216.639600
75%       1.0   1.000000  49.000000   1.000000   2.000000  262.375000
max       1.0   1.000000  67.000000   3.000000   4.000000  263.000000

             body  cluster_group
count    6.000000           48.0
mean   111.500000            2.0
std     36.719205            0.0
min     45.000000            2.0
25%    102.500000            2.0
50%    123.000000            2.0
75%    132.250000            2.0
max    147.000000            2.0

In [50]:
print(original_df[ (original_df['cluster_group']==3) ])

      pclass  survived                                               name  \
629        3         0                        Andersson, Mr. Anders Johan
632        3         0  Andersson, Mrs. Anders Johan (Alfrida Konstant...
644        3         0         Asplund, Mr. Carl Oscar Vilhelm Gustafsson
646        3         1  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
831        3         0                     Goodwin, Mr. Charles Frederick
832        3         0            Goodwin, Mrs. Frederick (Augusta Tyler)
1106       3         0             Panula, Mrs. Juha (Maria Emilia Ojala)
1146       3         0               Rice, Mrs. William (Margaret Norton)
1179       3         0                              Sage, Mr. John George
1180       3         0                     Sage, Mrs. John (Annie Bullen)

         sex   age  sibsp  parch    ticket     fare cabin embarked boat  \
629     male  39.0      1      5    347082  31.2750   NaN        S  NaN
632   female  39.0      1      5    347082  31.2750   NaN        S  NaN
644     male  40.0      1      5    347077  31.3875   NaN        S  NaN
646   female  38.0      1      5    347077  31.3875   NaN        S   15
831     male  40.0      1      6   CA 2144  46.9000   NaN        S  NaN
832   female  43.0      1      6   CA 2144  46.9000   NaN        S  NaN
1106  female  41.0      0      5   3101295  39.6875   NaN        S  NaN
1146  female  39.0      0      5    382652  29.1250   NaN        Q  NaN
1179    male   NaN      1      9  CA. 2343  69.5500   NaN        S  NaN
1180  female   NaN      1      9  CA. 2343  69.5500   NaN        S  NaN

       body                             home.dest  cluster_group
629     NaN                   Sweden Winnipeg, MN            3.0
632     NaN                   Sweden Winnipeg, MN            3.0
644   142.0                 Sweden  Worcester, MA            3.0
646     NaN                 Sweden  Worcester, MA            3.0
831     NaN  Wiltshire, England Niagara Falls, NY            3.0
832     NaN  Wiltshire, England Niagara Falls, NY            3.0
1106    NaN                                   NaN            3.0
1146  327.0                                   NaN            3.0
1179    NaN                                   NaN            3.0
1180    NaN                                   NaN            3.0

In [51]:
print(original_df[ (original_df['cluster_group']==3) ].describe())

       pclass   survived        age      sibsp      parch       fare  \
count    10.0  10.000000   8.000000  10.000000  10.000000  10.000000
mean      3.0   0.100000  39.875000   0.800000   6.000000  42.703750
std       0.0   0.316228   1.552648   0.421637   1.632993  15.590194
min       3.0   0.000000  38.000000   0.000000   5.000000  29.125000
25%       3.0   0.000000  39.000000   1.000000   5.000000  31.303125
50%       3.0   0.000000  39.500000   1.000000   5.000000  35.537500
75%       3.0   0.000000  40.250000   1.000000   6.000000  46.900000
max       3.0   1.000000  43.000000   1.000000   9.000000  69.550000

             body  cluster_group
count    2.000000           10.0
mean   234.500000            3.0
std    130.814755            0.0
min    142.000000            3.0
25%    188.250000            3.0
50%    234.500000            3.0
75%    280.750000            3.0
max    327.000000            3.0

In [53]:
cluster_0 = original_df[ (original_df['cluster_group'] == 0) ]
cluster_0_fe = cluster_0[ (cluster_0['pclass'] == 1)]
cluster_0_fe.describe()

,pclass,survived,age,sibsp,parch,fare,body,cluster_group
count,271.0,271.000000,233.000000,271.000000,271.000000,271.000000,29.000000,271.0
mean,1.0,0.608856,39.733906,0.383764,0.199262,61.212315,173.448276,0.0
std,0.0,0.488909,13.991685,0.523834,0.476250,38.069434,85.866835,0.0
min,1.0,0.000000,4.000000,0.000000,0.000000,0.000000,16.000000,0.0
25%,1.0,0.000000,29.000000,0.000000,0.000000,29.700000,110.000000,0.0
50%,1.0,1.000000,39.000000,0.000000,0.000000,53.100000,175.000000,0.0
75%,1.0,1.000000,50.000000,1.000000,0.000000,79.650000,245.000000,0.0
max,1.0,1.000000,80.000000,2.000000,2.000000,227.525000,307.000000,0.0

This means that 60 percent of the passengers survived